# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app
XO_TeamTest/XO_TeamTest.VC.VC.opendb
XO_TeamTest/XO_TeamTest/XO_TeamTest.vcxproj
XO_TeamTest/XO_TeamTest/XO_TeamTest.vcxproj.filters
XO_TeamTest/XO_TeamTest.VC.db
XO_TeamTest/XO_TeamTest/CTile.cpp
